@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary-500: hsl(158, 36%, 37%);
  --color-primary-700: hsl(158, 42%, 18%);
  --color-neutral-black: hsl(212, 21%, 14%);
  --color-neutral-grey: hsl(228, 12%, 48%);
  --color-neutral-cream: hsl(30, 38%, 92%);
  --color-neutral-white: hsl(0, 0%, 100%);
  --font-montserrat: 'Montserrat', sans-serif;
  --font-fraunces: 'Fraunces', serif;
  --aspect-retro: 4 / 3;
  --aspect-video-vertical: 9 / 16;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}
